body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: linear-gradient(90deg, rgba(0, 174, 255, 0.137), rgba(89, 119, 202, 0.363));
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  text-align: center;
  font-size: 50px;
}

#content {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
}

table {
  position: relative;
  background-color: rgba(255, 255, 255, 0.87);
}

table, tr, td {
  border: 1px solid;
  border-collapse: collapse;
}

td {
  width: 70px;
  min-width: 70px;
  height: 70px;
  min-height: 70px;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}

.square1,
.square3,
.square5,
.square7,
.square9 {
  background-color: grey;
}

#options {
  margin-top: 40px;
  display: flex;
  gap: 40px;
}

.correct {
  border-color: black;
  background-color: rgba(23, 126, 23, 0.212);
  color: rgb(2, 189, 2)
}

.incorrect {
  border-color: black;
  background-color: rgba(223, 53, 53, 0.349);
  color: rgb(255, 25, 25);
}

.option {
  width: 170px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgba(122, 31, 175, 0.295);
}

#loader {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.685);
  border-radius: 10px;
  place-content: center;
  min-width: 650px;
  max-width: 675px;
  min-height: 700px;
}

#prompt {
  font-size: 50px;
  color: white;
  text-align: center;
}